<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Welcome!</h1>
                    <p class="text-lead text-light">Use these awesome forms to login or create new account in your
                        project for free.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">
                    <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
                    <div class="btn-wrapper text-center">
                        <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                            <span class="btn-inner--icon"><img src="../assets/icons/common/google.svg"></span>
                            <span class="btn-inner--text">Google</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Image and text -->
<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img [src]="logoDayToDay" width="18%" class="d-inline-block align-top" alt="">
    </a>
</nav>

<div class="container mt-5">

    <div class="row">

        <div class="col-6 mt-5">
            <h1 class="text-danger"> Day to Day (Time Report)</h1>
            <p class="h4 mt-5">
                La Vicepresidencia de Auditoría se transforma para seguir siendo confiables, sencillos y amigables
            </p>


            <div class="row">
                <div class="col">
                    <button class="btn btn-outline-dark" role="button" style="text-transform:none"
                        (click)="loginWithGoogle()">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        Inicia sesión con Google
                </button>
                </div>
            </div>
        </div>

        <div class="col-6">
            <img [src]="logoCentral" width="70%" class="d-inline-block align-top" alt="">
        </div>

    </div>


</div> -->