<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img [src]="logoDayToDay"
        [ngClass]="isMobile() ? 'd-inline-block align-top logoNormal' : 'd-inline-block align-top logoMobile'"
        class="d-inline-block align-top" alt="">
    </a>
</nav>

<div class="container mt-5">

    <div class="row">

        <div [ngClass]=" isMobile() ? 'col-6' : 'col-12'">
            <h1 class="text-danger fw-bold"> Day to Day (Time Report)</h1>
            <p class="h4 mt-5">
                La <span class="text-danger fw-bold">transformación</span> es parte de nuestra cultura en la vicepresidencia de Auditoría
            </p>


            <div class="row">
                <div class="col-12">
                    <button 
                    [ngClass]="isMobile() ? 'btn btn-outline-dark normal' : 'btn btn-outline-dark isMobile'" 
                    role="button" 

                        (click)="loginWithGoogle()">
                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        Inicia sesión con Google
                </button>
                </div>
            </div>
        </div>

        <!-- <div class="col-6" *ngIf="isMobile()"> -->
        <div [ngClass]=" isMobile() ? 'col-6' : 'col-12'">
            <img [src]="logoCentral" width="100%" class="d-inline-block align-top" alt="">
        </div>

    </div>


</div>